@model SMSEntities.SMSDBEntities.Vehicles
@{
    ViewBag.Title = "EditVehicle";
    Layout = "~/Views/Shared/_LayoutTransactions.cshtml";
}
<script language="javascript" type="text/javascript">
    function pageValidation() {
        if (document.getElementById("identificationunit").value == "" || document.getElementById("platenumber").value == "") {
            alert('Please enter the mandatory fields.');
            document.getElementById("identificationunit").focus();
            return false;
        }
        return true;
    }
</script>
<h2>
    Edit Vehicle</h2>
@using (Html.BeginForm())
{
    <fieldset>
    <div class="check_main_bg_cont">
    <div class="check_left_cont_txt">
    <table>
    <tr><td>Identification Unit (IU): *</td><td>@Html.TextBoxFor(model => model.identificationunit, (object)new { @readonly = "readonly", @class = "bigtextfield" })</td></tr>
    <tr><td>Plate Number: *</td><td>@Html.TextBoxFor(model => model.platenumber, new { @class = "bigtextfield" })</td></tr>
    <tr><td>Container #:</td><td>@Html.TextBoxFor(model => model.containernumber, new { @class = "bigtextfield" })</td></tr>
    <tr><td>Description:</td><td>@Html.TextBoxFor(model => model.description, new { @class = "bigtextfield" })</td></tr>
    <tr><td>Trailer #:</td><td>@Html.TextBoxFor(model => model.trailernumber, new { @class = "bigtextfield" })</td></tr>
    <tr><td>Contractor:</td><td>@Html.TextBoxFor(model => model.contractor, new { @class = "bigtextfield" })</td></tr>
    <tr><td>Security Guard Name:</td><td>@Html.TextBoxFor(model => model.securityguardname, new { @class = "bigtextfield" })</td></tr>
    <tr><td>Authorized Person's IC:</td><td>@Html.TextBoxFor(model => model.authpersonic, new { @class = "bigtextfield" })</td></tr>
    <tr><td>Authorized Person Name:</td><td>@Html.TextBoxFor(model => model.authpersonname, new { @class = "bigtextfield" })</td></tr>
    <tr><td>Length:</td><td>@Html.RadioButtonFor(model => model.length, "20")20ft @Html.RadioButtonFor(model => model.length, "40")40ft</td></tr>
    <tr><td>Capacity:</td><td>@Html.RadioButtonFor(model => model.capacity, "Full")Full @Html.RadioButtonFor(model => model.capacity, "Empty")Empty</td></tr>
    </table>
        <div style="margin-left: 120px;">
            <input type="submit" class="btnAddUpdate" value="Update" onclick="return pageValidation();" />
            <a href="/SMSAdmin/GetVehicles"><input type="button"  class="btnCancel" value="Cancel" /></a>
       </div></div></div>
    </fieldset>
}
