@model SMS.Models.GatesViewModel
@{
    ViewBag.Title = "EditGate";
    Layout = "~/Views/Shared/_LayoutTransactions.cshtml";
}
<script language="javascript" type="text/javascript">
    function pageValidation() {
        if (document.getElementById('Deployments').selectedIndex == 0) {
            alert("Please select Deployment");
            return false;
        }
        if (document.getElementById("GateName").value == "") {
            alert('Please enter the Gate Name');
            document.getElementById("GateName").focus();
            return false;
        }
        return true;
    }
</script>
<h2>
    Gates</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
    <fieldset><div class="check_main_bg_cont">
        Update @Model.GateName
        <div class="check_left_cont_txt">
            <div>@ViewBag.ErrMsg</div>
            <table>
            @if (Session["UserType"] != null && Session["UserType"] != "" && Session["UserType"].ToString().Equals("1"))
            {
                <tr><td>Deployment</td><td>@Html.DropDownList("ddlDeployements", Model.Deployments.Select(c => new SelectListItem { Text = c.DeploymentName, Value = c.DeploymentId.ToString(), Selected = c.DeploymentId.ToString() == Model.DeploymentId.ToString() }))</td></tr>
            }       
            <tr><td>Gate name *</td><td>@Html.TextBoxFor(model => model.GateName, (object)new {  @class = "bigtextfield" })
            @Html.ValidationMessageFor(model => model.GateName)
            @Html.HiddenFor(model => model.GateId)</td></tr></table>
        <div style="margin-left: 120px;">
            <input type="submit" class="btnAddUpdate" value="Update" onclick="return pageValidation();" />
            <a href="@Url.Action("GatesList", "SMSAdmin")"><input type="button"  class="btnCancel" value="Cancel" /></a>
        </div>
        </div></div>
    </fieldset>
}